body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header13LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #DB7093;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#header13LayoutGrid1
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#header13LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header13LayoutGrid1 > .row > .col-1, #header13LayoutGrid1 > .row > .col-2, #header13LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header13LayoutGrid1 > .row > .col-1, #header13LayoutGrid1 > .row > .col-2, #header13LayoutGrid1 > .row > .col-3
{
   float: left;
}
#header13LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 58.33333333%;
   text-align: left;
}
#header13LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: right;
}
#header13LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#header13LayoutGrid1:before,
#header13LayoutGrid1:after,
#header13LayoutGrid1 .row:before,
#header13LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#header13LayoutGrid1:after,
#header13LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 315px)
{
#header13LayoutGrid1 > .row > .col-1, #header13LayoutGrid1 > .row > .col-2, #header13LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#header13Breadcrumb
{
   list-style: none;
   padding: 12px 15px 12px 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#header13Breadcrumb > li
{
   display: inline-block;
   font-size: 24px;
   text-transform: none;
}
#header13Breadcrumb a
{
   color: #FFFFFF;
   text-decoration: none;
}
#header13Breadcrumb a:hover
{
   color: #808080;
   text-decoration: none;
}
#header13Breadcrumb > .active
{
   color: #808080;
}
#header13Breadcrumb > .active a
{
   color: inherit;
   pointer-events: none;
}
#header13Breadcrumb > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_header13Icon1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_header13Icon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
}
#header13Icon1
{
   height: 51px;
   width: 52px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#header13Icon1 i
{
   color: #0D6EFD;
   display: inline-block;
   font-size: 51px;
   line-height: 51px;
   vertical-align: middle;
}
#wb_header13Icon1:hover #header13Icon1 i
{
   color: #0D6EFD;
}
#wb_header13Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 5px 0 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_header13Icon2 a
{
   text-decoration: none;
}
#wb_header13Icon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#header13Icon2
{
   height: 37px;
   width: 43px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#header13Icon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 37px;
   line-height: 37px;
   vertical-align: middle;
}
#wb_header13Icon2:hover #header13Icon2 i
{
   color: #FFFFFF;
}
#wb_header13Icon2
{
   transition: all 500ms linear 0ms;
}
#header13Button
{
   box-sizing: border-box;
   line-height: 35px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 0 0 ;
}
#header13Button:focus
{
   outline: 0;
}
#wb_header13Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 5px 0 5px 0;
   text-align: left;
}
#header13Heading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_intro8FlexContainer
{
   background-image: linear-gradient(45deg, #FF6EC4 0%, #7873F5 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
   width: 100%;
}
#intro8FlexContainer
{
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 100px 0 10px 0;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_intro8Card
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#intro8Card-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#intro8Card-card-item0
{
   box-sizing: border-box;
   margin: 0 30px 20px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
}
#intro8Card-card-item1
{
   box-sizing: border-box;
   margin: 0 30px 30px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#intro8Card-card-item2
{
   display: inline-block;
   line-height: 1.0;
   height: 39px;
   cursor: pointer;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   padding: 12px 20px 12px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_intro8Icon
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: center;
   display:inline-block;
   position:relative;
}
#wb_intro8Icon a
{
   text-decoration: none;
}
#wb_intro8Icon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#intro8Icon
{
   height: 34px;
   width: 34px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#intro8Icon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 34px;
   vertical-align: middle;
}
#wb_intro8Icon:hover #intro8Icon i
{
   color: #F5F5F5;
}
