body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header13LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#header13LayoutGrid1
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#header13LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header13LayoutGrid1 > .row > .col-1, #header13LayoutGrid1 > .row > .col-2, #header13LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header13LayoutGrid1 > .row > .col-1, #header13LayoutGrid1 > .row > .col-2, #header13LayoutGrid1 > .row > .col-3
{
   float: left;
}
#header13LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 58.33333333%;
   text-align: left;
}
#header13LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: right;
}
#header13LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#header13LayoutGrid1:before,
#header13LayoutGrid1:after,
#header13LayoutGrid1 .row:before,
#header13LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#header13LayoutGrid1:after,
#header13LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 315px)
{
#header13LayoutGrid1 > .row > .col-1, #header13LayoutGrid1 > .row > .col-2, #header13LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#header13Breadcrumb
{
   list-style: none;
   padding: 12px 15px 12px 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#header13Breadcrumb > li
{
   display: inline-block;
   font-size: 24px;
   text-transform: none;
}
#header13Breadcrumb a
{
   color: #FFFFFF;
   text-decoration: none;
}
#header13Breadcrumb a:hover
{
   color: #808080;
   text-decoration: none;
}
#header13Breadcrumb > .active
{
   color: #808080;
}
#header13Breadcrumb > .active a
{
   color: inherit;
   pointer-events: none;
}
#header13Breadcrumb > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_header13Icon1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_header13Icon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
}
#header13Icon1
{
   height: 51px;
   width: 52px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#header13Icon1 i
{
   color: #0D6EFD;
   display: inline-block;
   font-size: 51px;
   line-height: 51px;
   vertical-align: middle;
}
#wb_header13Icon1:hover #header13Icon1 i
{
   color: #0D6EFD;
}
#wb_header13Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 5px 0 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_header13Icon2 a
{
   text-decoration: none;
}
#wb_header13Icon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#header13Icon2
{
   height: 37px;
   width: 43px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#header13Icon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 37px;
   line-height: 37px;
   vertical-align: middle;
}
#wb_header13Icon2:hover #header13Icon2 i
{
   color: #FFFFFF;
}
#wb_header13Icon2
{
   transition: all 500ms linear 0ms;
}
#header13Button
{
   box-sizing: border-box;
   line-height: 35px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 0 0 ;
}
#header13Button:focus
{
   outline: 0;
}
#wb_header13Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 5px 0 5px 0;
   text-align: left;
}
#header13Heading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_intro8FlexContainer
{
   background-image: linear-gradient(45deg, #FF6EC4 0%, #7873F5 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
   width: 100%;
}
#intro8FlexContainer
{
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 100px 0 10px 0;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_intro8Card
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#intro8Card-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#intro8Card-card-item0
{
   box-sizing: border-box;
   margin: 0 30px 20px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
}
#intro8Card-card-item1
{
   box-sizing: border-box;
   margin: 0 30px 30px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#intro8Card-card-item2
{
   display: inline-block;
   line-height: 1.0;
   height: 39px;
   cursor: pointer;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   padding: 12px 20px 12px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_intro8Icon
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: center;
   display:inline-block;
   position:relative;
}
#wb_intro8Icon a
{
   text-decoration: none;
}
#wb_intro8Icon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#intro8Icon
{
   height: 34px;
   width: 34px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#intro8Icon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 34px;
   vertical-align: middle;
}
#wb_intro8Icon:hover #intro8Icon i
{
   color: #F5F5F5;
}
#wb_ratingsLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #F1F1F1;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#ratingsLayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#ratingsLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#ratingsLayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#ratingsLayoutGrid1 > .row > .col-1
{
   float: left;
}
#ratingsLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#ratingsLayoutGrid1:before,
#ratingsLayoutGrid1:after,
#ratingsLayoutGrid1 .row:before,
#ratingsLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#ratingsLayoutGrid1:after,
#ratingsLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#ratingsLayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ratingsLabel1
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabel1:focus
{
   outline: 0;
}
#wb_ratingsIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#ratingsIcon1
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#ratingsIcon1 i
{
   color: #FFA500;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_ratingsIcon1:hover #ratingsIcon1 i
{
   color: #FFA500;
}
#wb_ratingsIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#ratingsIcon2
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#ratingsIcon2 i
{
   color: #FFA500;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_ratingsIcon2:hover #ratingsIcon2 i
{
   color: #FFA500;
}
#wb_ratingsIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#ratingsIcon3
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#ratingsIcon3 i
{
   color: #FFA500;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_ratingsIcon3:hover #ratingsIcon3 i
{
   color: #FFA500;
}
#wb_ratingsIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#ratingsIcon4
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#ratingsIcon4 i
{
   color: #FFA500;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_ratingsIcon4:hover #ratingsIcon4 i
{
   color: #FFA500;
}
#wb_ratingsIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#ratingsIcon5
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#ratingsIcon5 i
{
   color: #000000;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_ratingsIcon5:hover #ratingsIcon5 i
{
   color: #000000;
}
#ratingsLabel2
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabel2:focus
{
   outline: 0;
}
#ratingsLine
{
   border-color: #F1F1F1;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 15px 0 15px 0 ;
   padding: 0;
}
#wb_ratingsLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#ratingsLayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#ratingsLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#ratingsLayoutGrid2 > .row > .col-1, #ratingsLayoutGrid2 > .row > .col-2, #ratingsLayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#ratingsLayoutGrid2 > .row > .col-1, #ratingsLayoutGrid2 > .row > .col-2, #ratingsLayoutGrid2 > .row > .col-3
{
   float: left;
}
#ratingsLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#ratingsLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#ratingsLayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#ratingsLayoutGrid2:before,
#ratingsLayoutGrid2:after,
#ratingsLayoutGrid2 .row:before,
#ratingsLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#ratingsLayoutGrid2:after,
#ratingsLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#ratingsLayoutGrid2 > .row > .col-1, #ratingsLayoutGrid2 > .row > .col-2, #ratingsLayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#ratingsLabelStars5
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelStars5:focus
{
   outline: 0;
}
#ratingsProgressbar5
{
   margin: 6px 0 6px 0 ;
   position: relative;
}
#ratingsProgressbar5
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #F1F1F1;
   border-radius: 0px;
   overflow: hidden;
}
#ratingsProgressbar5 .progress-bar
{
   background-color: #4CAF50;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 60%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#ratingsLabelValue5
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelValue5:focus
{
   outline: 0;
}
#wb_ratingsLayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#ratingsLayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#ratingsLayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#ratingsLayoutGrid3 > .row > .col-1, #ratingsLayoutGrid3 > .row > .col-2, #ratingsLayoutGrid3 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#ratingsLayoutGrid3 > .row > .col-1, #ratingsLayoutGrid3 > .row > .col-2, #ratingsLayoutGrid3 > .row > .col-3
{
   float: left;
}
#ratingsLayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#ratingsLayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#ratingsLayoutGrid3 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#ratingsLayoutGrid3:before,
#ratingsLayoutGrid3:after,
#ratingsLayoutGrid3 .row:before,
#ratingsLayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#ratingsLayoutGrid3:after,
#ratingsLayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#ratingsLayoutGrid3 > .row > .col-1, #ratingsLayoutGrid3 > .row > .col-2, #ratingsLayoutGrid3 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#ratingsLabelStars4
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelStars4:focus
{
   outline: 0;
}
#ratingsProgressbar4
{
   margin: 6px 0 6px 0 ;
   position: relative;
}
#ratingsProgressbar4
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #F1F1F1;
   border-radius: 0px;
   overflow: hidden;
}
#ratingsProgressbar4 .progress-bar
{
   background-color: #2196F3;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 30%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#ratingsLabelValue4
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelValue4:focus
{
   outline: 0;
}
#wb_ratingsLayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#ratingsLayoutGrid4
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#ratingsLayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#ratingsLayoutGrid4 > .row > .col-1, #ratingsLayoutGrid4 > .row > .col-2, #ratingsLayoutGrid4 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#ratingsLayoutGrid4 > .row > .col-1, #ratingsLayoutGrid4 > .row > .col-2, #ratingsLayoutGrid4 > .row > .col-3
{
   float: left;
}
#ratingsLayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#ratingsLayoutGrid4 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#ratingsLayoutGrid4 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#ratingsLayoutGrid4:before,
#ratingsLayoutGrid4:after,
#ratingsLayoutGrid4 .row:before,
#ratingsLayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#ratingsLayoutGrid4:after,
#ratingsLayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#ratingsLayoutGrid4 > .row > .col-1, #ratingsLayoutGrid4 > .row > .col-2, #ratingsLayoutGrid4 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#ratingsLabelStars3
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelStars3:focus
{
   outline: 0;
}
#ratingsProgressbar3
{
   margin: 6px 0 6px 0 ;
   position: relative;
}
#ratingsProgressbar3
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #F1F1F1;
   border-radius: 0px;
   overflow: hidden;
}
#ratingsProgressbar3 .progress-bar
{
   background-color: #00BCD4;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 10%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#ratingsLabelValue3
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelValue3:focus
{
   outline: 0;
}
#wb_ratingsLayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#ratingsLayoutGrid5
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#ratingsLayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#ratingsLayoutGrid5 > .row > .col-1, #ratingsLayoutGrid5 > .row > .col-2, #ratingsLayoutGrid5 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#ratingsLayoutGrid5 > .row > .col-1, #ratingsLayoutGrid5 > .row > .col-2, #ratingsLayoutGrid5 > .row > .col-3
{
   float: left;
}
#ratingsLayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#ratingsLayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#ratingsLayoutGrid5 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#ratingsLayoutGrid5:before,
#ratingsLayoutGrid5:after,
#ratingsLayoutGrid5 .row:before,
#ratingsLayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#ratingsLayoutGrid5:after,
#ratingsLayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#ratingsLayoutGrid5 > .row > .col-1, #ratingsLayoutGrid5 > .row > .col-2, #ratingsLayoutGrid5 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#ratingsLabelStars2
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelStars2:focus
{
   outline: 0;
}
#ratingsProgressbar2
{
   margin: 6px 0 6px 0 ;
   position: relative;
}
#ratingsProgressbar2
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #F1F1F1;
   border-radius: 0px;
   overflow: hidden;
}
#ratingsProgressbar2 .progress-bar
{
   background-color: #FF9800;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 4%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#ratingsLabelValue2
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelValue2:focus
{
   outline: 0;
}
#wb_ratingsLayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#ratingsLayoutGrid6
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#ratingsLayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#ratingsLayoutGrid6 > .row > .col-1, #ratingsLayoutGrid6 > .row > .col-2, #ratingsLayoutGrid6 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#ratingsLayoutGrid6 > .row > .col-1, #ratingsLayoutGrid6 > .row > .col-2, #ratingsLayoutGrid6 > .row > .col-3
{
   float: left;
}
#ratingsLayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#ratingsLayoutGrid6 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#ratingsLayoutGrid6 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: right;
}
#ratingsLayoutGrid6:before,
#ratingsLayoutGrid6:after,
#ratingsLayoutGrid6 .row:before,
#ratingsLayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#ratingsLayoutGrid6:after,
#ratingsLayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#ratingsLayoutGrid6 > .row > .col-1, #ratingsLayoutGrid6 > .row > .col-2, #ratingsLayoutGrid6 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#ratingsLabelStars1
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelStars1:focus
{
   outline: 0;
}
#ratingsProgressbar1
{
   margin: 6px 0 6px 0 ;
   position: relative;
}
#ratingsProgressbar1
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #F1F1F1;
   border-radius: 0px;
   overflow: hidden;
}
#ratingsProgressbar1 .progress-bar
{
   background-color: #F44336;
   background-image: none;
   display: flex;
   flex-direction: column;
   width: 15%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#ratingsLabelValue1
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#ratingsLabelValue1:focus
{
   outline: 0;
}
